
<button type="button" mdbBtn color="primary" class="relative waves-light" (click)="basicModal.show()" mdbWavesEffect>Launch demo modal</button>

<div mdbModal #basicModal="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-notify modal-primary" role="document">
  <div class="modal-dialog" role="document">
     <!--Content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" data-dismiss="modal"  aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true"class="white-text">×</span>
        </button>
        <h4 class="modal-title w-100 white-text " >Sign Up</h4>
      
     
    </div>
      <div class="modal-body">
          <div class="md-form">
              <i class="fas fa-user prefix grey-text"></i>
              <input mdbInput type="text" name="name"  [(ngModel)]= "name" class="form-control">
              <label for="form1" class="">Name</label>
            </div>
        <div class="md-form">
                <i class="fas fa-envelope prefix grey-text"></i>
            <input mdbInput type="email" name="email"  [(ngModel)]= "email" class="form-control">
            <label for="form1" class="">Email</label>
          </div>
          <div class="md-form">
            <i class="fas fa-lock prefix grey-text"></i>
            <input mdbInput type="password" name="password"  [(ngModel)]= "password" class="form-control">
            <label for="form1" class="">Password</label>
          </div>
      </div>
      <div class="modal-footer">
          <div class="options text-right">
            <p class="pt-1">Already have an account? <a href="/login" class="blue-text">Log In</a></p>
          </div>
          <button type="button"mdbBtn color="primary" class="waves-light" aria-label="Close"  data-dismiss="modal">Sign Up</button>
        </div>
      </div>
        
    <!--/.Content-->
    </div>
  </div>
  
