    <!-- Editable table -->
    <div class="card">
      <h3 class="card-header text-center text-muted font-weight-bold text-uppercase py-4">Expense and Income Table</h3>
      <div class="card-body">
        <div id="table" class="table-editable">
          
          <table class="table table-bordered table-responsive-md table-striped text-center">
            <tr>
              <th class="text-center">Income </th>
              <th class="text-center">Expense</th>
            </tr>
            <tr *ngFor="let person of personList; let id = index">
              <td>
                <span (keyup)="changeValue(id, 'name', $event)" (blur)="updateList(id, 'name', $event)" contenteditable="true">{{person.income}}</span>
              </td>
              <td>
                <span contenteditable="true" (keyup)="changeValue(id, 'age', $event)" (blur)="updateList(id, 'age', $event)">{{person.expense}}</span>
              </td>
              <td>
                <span class="table-remove">
                  <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0" (click)="delete(id)">Delete</button>
                </span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <!-- Editable table -->