
      <form class="form-inline">
            <!-- Default input -->
            <input mdbInput type="number" class="form-control mb-2 mr-sm-2" id="amount" placeholder="Amount">
            <!-- Default input -->
            <div class="input-group mb-2 mr-sm-2">
              <input mdbInput type="text" class="form-control py-0" id="description" placeholder="Description">
            </div>
            <button type="submit" mdbBtn color="danger" class="mt-0" (click)="add()" >Add</button>
          </form>
          <br>
          

          <!-- Editable table -->
<div class="card">
  <h3 class="card-header text-center font-weight-bold text-muted text-uppercase py-4">Income and Expense Table</h3>
  <div class="card-body">
    <div id="table" class="table-editable">
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <tr  *ngFor="let person of personList">
          <th class="text-center"  >Income {{personList.income}}</th>
          <th class="text-center" >Expense {{personList.expense}}</th>
        </tr>
        <tr *ngFor="let person of personList; let id = index">
          <td>
            <span (keyup)="changeValue(income, expense,'description', $event)" (blur)="updateList(income, expense,'description', $event)" contenteditable="true">{{person.income}}</span>
          </td>
          <td>
            <span contenteditable="true" (keyup)="changeValue(income, expense,'description', $event)" (blur)="updateList(income, expense,'description', $event)">{{person.expense}}</span>
          </td>
          <td>
            <span class="table-remove">
              <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0" (click)="remove(id)">Delete</button>
            </span>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
<!-- Editable table -->